body {
    background-color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#caixaListaTarefas {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 2% 5%;
    border-radius: 10px;
    text-align: right;
}

#caixaListaTarefas li {
    list-style: none;
    text-align: right;
}

#caixaListaTarefas li input {
    margin-left: 35px;
}
